.conten {
            
    margin-top: 72px;
}

.jujur {
    width: 50%;
    margin-top: 16px;

}
.jujur h2 {
    margin-left: 165px;
    margin-top: 40px;
}
.content1 {
    width: 50%;
}
footer {
    margin-top: 130px;
    border-top: 1px solid gray;
}
.teks {
    margin-top: 80px;
    width: 370px;
    height: 73px;
}
.sosial {
    width: 60px;
    height: 60px;
}